@font-face {
    font-family: Gilroy;
    src: url('/src/fonts/Gilroy-Light.woff2') format('woff2'),
    url('/src/fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: Galien;
    src: url('/src/fonts/Galien-Regular.woff2') format('woff2'),
    url('/src/fonts/Galien-Regular.woff') format('woff');
}
